.footer-text-columns {
	background: $black;
	background-color: $black;
	h3 {
		padding-top: 5px;
		align-items: flex-start;
		font-weight: bold;
		color: $white;
	}
	.title {
		list-style: none;
		color: $white;
	}
}

.footer-bottom {
	background: $black;
	background-color: $black;
	padding-bottom: 10px;
	p {
		color: $white;
		font-weight: bold;
	}
}
