.footer-text-columns {
	background: $black;
	background-color: $black;
}

.footer-copywrite {
	background: $black;
	background-color: $black;
}
.footer-copywrite-year {
	background: $black;
	background-color: $black;
}





// .footer {
// 	.disclaimer {
//   	font-family: Arial, sans-serif;
//     font-size: 11px;
//     line-height: 16px;
//     color: #4c4c4c;
//     padding-top: 0;
//     padding-right: 20px;
//     padding-bottom: 0;
//     padding-left: 20px;
// 		a {
//         border: 1px solid #e20074;
//         display: inline-block;
//         text-align: center;
//         text-decoration: none;
//         font-size: 16px;
//         line-height: 16px;
//   	    font-family: Arial, sans-serif;
//         white-space: nowrap;
//         font-weight: normal;
//     }
//   }
// }
