.heroimage {
	background-size: cover;
	height: 25vh;

	h3 {
		padding-top: 15px;
		font-family: $body-font-family;
		text-align: center;
		color: $white;
	}

	p {
		text-align: center;
		color: $white;
	}
}
