.heroimage {
	background-size: cover;
	height: 70vh;
	h1 {
		padding-top: 10px;
		color: $white;
		// font-weight: bold;
		 // -webkit-text-stroke: 1px black;

	}
	span {
		padding-top: 10px;
		color: $white;
		// font-weight: bold;
		text-align: left;
		 // -webkit-text-stroke: 1px black;
	}
}
