.get-started {
  background-image:'../img/tmobile-purple-bg.jpg';
  .offer-link {
    padding-top: 16px !important;
  }
  h3 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    margin: 0 0 15px;
  }
}
