<container>
  <row class="content-area">
    <columns>
      <row class="offer last-offer">
        <columns>
          <row>
            <columns>
              <img src="https://i.imgur.com/gfaHeuE.png" class="group-icons">
            </columns>
          </row>
          <h4>
            Still looking?
          </h4>
          <p>Search hundreds of deals on flights, hotels and more!</p>
            <a href="#" class="button">See Deals</a>
        </columns>
      </row>
    </columns>
  </row>
</container>
