<container>
  <row class="footer-text-columns">
    <columns large="4">
      <h3>General</h3>
      <ul class="help-buttons">
        <li><a href="/#" class="login-default-url" title="Log In">Log In</a></li>
        <li><a href="/en/faq.html" title="FAQ">FAQ</a></li>
        <li><a href="https://itunes.apple.com/us/app/t-mobile-money/id1436218794" class="app-store" title="iOS App">iOS App</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.tmobile.money" class="google-play" title="Android App">Android App</a></li>
      </ul>
    </columns>
    <columns large="4">
      <h3>Legal</h3>
      <ul class="help-buttons">
        <li><a href="/en/privacy-policy.html" title="Privacy Policy">Privacy Policy</a></li>
        <li><a href="/en/terms.html" title="Account Disclosures / Terms and Conditions">Account Disclosures / Terms and Conditions</a></li>
        <li><a href="/en/got-your-back-terms-and-conditions.html" title="&#34;Got Your Back&#34; Terms and Conditions">&#34;Got Your Back&#34; Terms and Conditions</a></li>
      </ul>
    </columns>
    <columns large="4">
      <h3>Let's Chat</h3>
      <ul class="help-buttons">
        <li><a href="/en/support.html" title="Contact Us">Contact Us</a></li>
        <li><a href="/en/support.html" title="Support">Support</a></li>
      </ul>
    </columns>
  </row>


  <row class="footer-bottom">
    <columns>
      <img class="float-left" src="https://i.imgur.com/cm5ogYq.png" alt="" />
    </columns>
    <columns>
      <img class="float-right" src="https://i.imgur.com/mYoQhjq.png" alt="" />
    </columns>
  </row>

  <row class="footer-bottom">
    <columns>
      <p class="text-left"><p>&#9400; 2018-2019 T-Mobile USA, INC. </p>
    </columns>
    <columns>
      <p class="text-right">Visit T-Mobile.com </p>
    </columns>
  </row>
</container>
