<container>
	<wrapper class="wrapper-inner heroimage" background="https://i.imgur.com/AlKh2aL.jpg">
		<row>
			<columns large="12" small="12" valign="middle">
				<spacer size="35"></spacer>
				<h3>Get started in minutes.</h3>
				<p>Signing up is super easy. Open an account today on mobile or web and start your path to better MONEY! </p>
				<center>
				<spacer size="20"></spacer>
				<button href="https://join.t-mobilemoney.com/#!/customertype">Sign up</a></button>
				</center>
			</columns>
		</row>
	</wrapper>
</container>
