<container>
	<wrapper class="heroimage" background="https://i.imgur.com/K99dD18.jpg">
		<row class="offer-text">
			<columns large="7">
				<h1>Not another bank.<br/>A better one.</h1>
				<span>
					• {{tmobileData.offerDetails.percent}} Annual Percentage Yield (APY) </br>
					• No more account fees. </br>
					• Over {{tmobileData.offerDetails.ATMs}} no-fee ATMs. </br>
					• FDIC-insured. </br>
				</span>
			</columns>
		</row>

		<spacer size="20"></spacer>

		<row>
			<columns>
					<button href="{{tmobileData.dataPoints.link}}">Sign up</button>
			</columns>
		</row>
		<row>
			<columns>
				<img src="https://i.imgur.com/0LPKxXk.png" />
			</columns>
			<!-- <columns >
				<img src="https://i.imgur.com/TNcjoEi.png" />
	    </columns> -->
    </row>
		<spacer size="25"></spacer>
	</wrapper>
</container>
