<container>
	<wrapper class="heroimage" background="{{ root }}/assets/img/tmobile-money-store.jpg">
		<row class="offer-text">
			<columns large="7">
				<h1>Not another bank.<br/>A better one.</h1>
				<span>
					• 4.00% Annual Percentage Yield (APY) </br>
					• No more account fees. </br>
					• Over 55,000 no-fee ATMs. </br>
					• FDIC-insured. </br>
				</span>
			</columns>
		</row>
		<spacer size="20"></spacer>

		<row>
			<columns>
					<button href="https://join.t-mobilemoney.com/#!/customertype">Sign up</button>
			</columns>
		</row>
		<row>
			<columns>
				<img src="{{ root }}/assets/img/btn-app-store.png" />
				<img src="{{ root }}/assets/img/btn-google-play.png" />
	    </columns>
    </row>
	</wrapper>
</container>
