<!-- Splash image (mobile app and guy caught miring) -->
<container>
	<wrapper class="wrapper-inner hero-image" background="{{ root }}/assets/img/skyline.jpg" bgcolor="#7bceeb">
		<row>
			<columns small="6" large="6" valign="left">
		    <h1>Not another bank.<br/>A better one.</h1>
		      <p>	• 4.00% Annual Percentage Yield (APY)* = More money.<br/>
		          • No more account fees.<br/>
		          • Over 55,000 no-fee ATMs.<br/>
		          • FDIC-insured.
		      </p>
					<p>* Click <a class="apy-detail apy-detail-white" href="#">here</a> for APY details or see below.</p>
			</row>
			<row>
			<button href="https://join.t-mobilemoney.com/#!/customertype">Sign up</button>
		</row>

		<columns small="6" large="7" class="store-logos">
      <row>
        <columns large="6" valign="left">
          <img src="https://i.imgur.com/7zSRuZY.png" />
        </columns>
        <columns large="6" valign="left">
          <img src="https://i.imgur.com/9IZpkfV.png" />
        </columns>
      </row>
    </columns>
  </row>
</container>

<!-- Some terms and bargraph -->
<container>
	<wrapper class="wrapper-color">
			<row>
				<columns class="text">
					More interest=More MONEY
				</columns>
			</row>
			<p class="sub-heading">Everyone earns 1.00% APY* on all balances. <span class="text-nowrap">T-Mobile</span> wireless customers with qualifying service can earn 4.00% APY* on balances up to $3,000 and 1.00% APY after that in their <span class="text-nowrap">T-Mobile</span> MONEY checking account by depositing at least $200/month and registering for perks.
			</p><br/>

			<row>
		    <columns class="t-money">
		      <img src="{{ root }}/assets/img/bargraph.png" />
		    </columns>
	  	</row>
			<button href="https://www.t-mobilemoney.com/en/perks/interest.html">See how it works </button>
	</wrapper>
</container>













<!-- Some more text and a button -->

<wrapper class="wrapper-color">
	<container>
		<row>
			<!-- Account fees text -->
			<columns large="6">
				<row class="section-left">
          <h2>No more account fees.</h2>
          <span>It’s your money. Keep it. No overdraft fees. No maintenance fees. No fees at Allpoint<sup>®</sup> ATMs. No minimum balance.</span>
          <button> <a href="https://www.t-mobilemoney.com/en/features/no-fee-banking.html" class="custom-btn">See how we compare </button>
				</row>
				<!-- End fees text -->
        <row class="section-right">
					<img src="{{ root}}/assets/img/home-fees-image.png" />
        </row>
			</columns>
			<!-- Account fees img -->
	</container>
</wrapper>


<!-- end text and callout button -->

<container>
	<row class="get-started">
    <columns>
			<img src="{{ root }}/assets/img/tmobile-purple-bg.jpg"
			<row class="offer-link">
				<columns>
					<row>
						<columns>
							<h3>Get started in minutes.</h3>
						</columns>
					</row>
					<p>Signing up is super easy. Open an account today on mobile or web and start your path to better MONEY! </p>
					<button href="https://join.t-mobilemoney.com/#!/customertype">Sign up</a></button>
				</columns>
			</row>
		</columns>
  </row>
</container>
