<container class="more-money">
	<row class="more-interest">
		<columns>
			<h2>More interest = more MONEY</h2>
			<p>Everyone earns 1.00% APY* on all balances. <span class="text-nowrap">T-Mobile</span> wireless customers with qualifying service can earn 4.00% APY* on balances up to $3,000 and 1.00% APY after that in their <span class="text-nowrap">T-Mobile</span>
				MONEY checking account by depositing at least $200/month and registering for perks.
			</p>
			<p>
				* Click here for APY details or see below.
			</p>
		</columns>
	</row>

<spacer size="20"></spacer>
<row>
	<center>
		<img src="{{ root }}/assets/img/bargraph.png" />
	</center>
</row>


<spacer size="20"></spacer>

	<center>
		<button href="https://www.t-mobilemoney.com/en/perks/interest.html" class="button">See how it works</button>
	</center>
	</columns>
</container>

<container>
	<wrapper class="background-color">
		<spacer size="20"></spacer>
		<row>
			<columns large="7">
				<p class="no-fees">
					<h2>No more account </br> fees.</h2>
					<span>
						It’s your money. Keep it. No overdraft fees. </br>
						No maintenance fees. No fees at Allpoint<sup>®</sup> ATMs. </br></br>
						No minimum balance.
					</span>
					<spacer size="15"></spacer>
					<button> <a href="https://www.t-mobilemoney.com/en/features/no-fee-banking.html" class="custom-btn">See how we compare </button>
				</p>
			</columns>
			<columns large="5">
				<spacer size="15"></spacer>
				<img src="{{ root}}/assets/img/home-fees-image.png" alt="" />
			</columns>
			<spacer size="20"></spacer>

		</row>
	</wrapper>
</container>
